body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 100%;
    background-color: #fff;
}

/*set up box sizing*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-wrapper {
    max-width: 768px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #000;
    
}

ul li {
    list-style-type: none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #999;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #999;
}


/*=== headings =====*/

h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 5%;
}

h2 {
    font-size: 1em;
    margin-left: 2%;
}

h3.white {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.3em;
    color: #fff;
    font-weight: normal;
    margin: 10px 5%;
}

h2.userFeedback {
    font-size: 1em;
    color: #000;
    text-align: center;
}

h2.emphasize {
    color: green;
    font-weight: bold;
}

p.emphasize{
    color: green;
    font-weight: bold;

}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p.answerDrop {
    display: none;
    margin: -10px auto 0 auto;
    padding: 0;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

p.drophere {
    margin: -5px auto 0 auto;
    padding: 0;
    font-size: 1em;
    color: #fff;
    text-align: center;
    color: green;
}

p.play {
    font-size: 1.2em;
    color: green;
    text-align: center;
}



/*=== navigation ==== */
nav {
    background-color: #000;
    margin-top: -10px;;
}

.nav-wrapper {
    margin-bottom: 0;
}

nav ul {
    margin-top: 10px;
    /*padding-top: 10px;*/
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0px 10px;
    float: right;
}

nav ul li:first-child {
    float: left;
}

/*===  page headers ===*/
.menu-header {
    background-color: #fff;
    width: 100%;
    padding: 5px 0;
    height: 40px;
    margin-top: 50px;
}

.menu-header h1 {
    color: #FF7519;
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
    padding-left: 5%;
    margin: 0;
}

/*=== snippets === */

#draggable img{
    position: absolute;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    padding: 90px 0 15% 0;
}

.snippets-drag, .snippets-drop {
    background-color: #000;
    width: 90%;
    padding: 8px 15px 1px 15px;
    margin-left: 5%;
    color: #fff;
}

.snippets-drag div{
    color: #000;
}

.snippets-drag p{
    color: #fff;
}

.snippet-question {
    width: 90%;
    background: url(images/button_q.png) 3px 1px no-repeat;
    background-size:10px 10px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #edf4f7;
    padding: 0;
    margin: -10px 5px 0 5%;
    text-align: center;
}

.snippet-question p {
    margin: 0;
    padding: 5px;
}

    /*=== drag and drop === */

div {
    display: block;
    margin-bottom: 20px;
}

div.question {
    background: #cecdd8;
}

#droppable{
    margin-top: 15px;
}

.square {
    font-size: 1em;
    /*this will be generated by the question size*/
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 70%;
    height: 35px;
    line-height: 40px;
    text-align: center;
    background-color: #ebf5fb;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    z-index: 100;
}

.squaredotted-p1, .squaredotted-p2, .squaredotted-p3 {
    font-size: 1em;
    /*this will be generated by the question size*/
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 70%;
    height: 35px;
    line-height: 30px;
    border: 1px dotted orange;
    text-align: center;
    border-radius: 5px;
    color: gray;
    background-color: lightgray;
    z-index: 10;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: left center;

}

.squaredotted-p2, .squaredotted-p3 {
    display: none;
}

.square.correctBg {
    background-color: #6ed830;
}

.square.wrongBg {
    background-color: #d8180d;
}

.square.disabled {
    background-color: #81e9fb;
}

.squarePlaceholder {
    width: 180px;
    height: 40px;
    line-height: 20px;
    border: 1px dotted gray;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    color: gray;
    background-color: lightgray;
    z-index: 2;
}

.movingDraggable {
    background-color:#ff7519;
}


/*=== modals, sections and pop ups === */

#timeField{
    display:none;
}

.testingInfo {
    background-color: yellow;
    /*padding: 10px;*/;
}

.testingInfo p{
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 0.8em;
}

.next {
    display: none;
}

.closePopup {
    display: none;
}

a.closePopup {
    float: right;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px 4px 25px;
    background: orange url(images/cont.png) 3px 1px no-repeat;
}

a.closePopupCorrect {
    float: right;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px 4px 25px;
    background: orange url(images/cont.png) 5px 5px no-repeat;
}

a.exitPopup {
    float: right;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px 4px 25px;
    background: orange  url(images/exit.png) 5px 5px no-repeat;
    display: none;
}

a.exitPopup-newuser {
    float: right;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px 4px 25px;
    background: orange  url(images/exit.png) 5px 5px no-repeat;
    display: none;
}


div span.change_state{

  float: right;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 8px 4px 25px;
  background: orange  url(images/exit.png) 5px 5px no-repeat; 
}

.displayAns {
    font-size: 1.2em;
    background: orange;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 4px;
}

.closePopupCorrect {
    display: none;
}

form.question {
    float: right;
}

.questionData {
    margin-left: 10%;
}

.correctFeedback, .wrongFeedback {
    position: absolute;
    top: 30%;
    left: 2.5%;
    border: 6px solid #0072bc;
    border-radius: 5px;
    width: 95%;
    padding: 10px 10px 100px 10px;
    display: none;
    background-color: #fff;
    z-index: 200;
    font-size: 1em;
}

.correctFeedback p, .wrongFeedback p {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    clear: both;
}

.wrongFeedback p:first-child {
    margin-top: 100px;
    color: yellow;
}

.finalReviewInfo {
    position: absolute;
    top: 10%;
    left: 2.5%;
    border: 6px solid #0072bc;
    border-radius: 5px;
    width: 95%;
    padding: 10px;
    display: none;
    background-color: #fff;
    z-index: 200;
    font-size: 1em;
}

.finalReviewInfo p {
    text-align: center;
}

.finalReviewInfo h2 {
    text-align: center;
}

.timeReviewInfo {
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    margin-left: 5%;
    background-color: #fff;
    z-index: 200;
    font-size: 1em;
}

.timeReviewInfo h2 {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
}

div.correct-answers {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}



/* ====== BOX ======== */

.box {
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    border: 3px solid #FF7519;
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    font-weight: normal;
    letter-spacing: 1px;
}

/* ====== menu links ======== */

.menu-links {
    background-color: #000;
    width: 90%;
    padding: 8px 15px 10px 15px;
    margin-left: 5%;
    text-align: center;
}

.menu-links img {
    width: 80%;
    height: auto;

    }
.menu-links p{
    color: white;
}

.menu-links ul {
    margin: 0;
    padding: 0;
}

.menu-links ul li {
    width: 80%;
    margin: 10px 0 0 10%;
    padding: 5px;
}

.menu-links ul li a {
    color: #222;
    text-shadow: 0px 0.1px 0.2px #555;
    font-size: 1.3em;
}

.menu-links-alt {
    background-color: #000;
    border: transparent;
    border-bottom: 1px solid white;
    padding: 5px 5px 5px 5px;

}

.menu-links-alt ul {
    margin: 0;
    padding: 0;
}

.menu-links-alt ul li {
    background-color: #a7d7f1;
    width: 88%;
    margin: 10px 0 0 6%;
    border-radius: 5px;
    padding: 5px;
}

.menu-links-alt ul a li {
    color: #fff;
    font-size: 1em;
}

.menu-links-alt ul a li:active {
    background-color: #FF7519;
    color: #ffffff;
}

.menu-links ul li.box-menu {
    background-color: #fff;
    width: 88%;
    margin: 10px 0 0 6%;
    border-radius: 5px;
    padding: 5px;
}

.menu-links ul a li.box-menu {
    color: #222;
    text-shadow: 0px 0.1px 0.2px #555;
    font-size: 1.3em;
}

.menu-links ul a li.box-menu:hover {
    background-color: #FF7519;
    color: #ffffff;
}

.menu-links ul a li.box-menu:active {
    background-color: #FF7519;
    color: #ffffff;
}

a li.altButton {
    background-color: #FF7519;
    color: #ffffff;
    width: 88%;
    margin: 10px 0 0 6%;
    border-radius: 8px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

a.box-menu {
    width: 200%;
    border-radius: 8px;
}


.box-menu {
    width: 80%;
    background-color: #fff;
    background: #fff;
    border-radius: 8px;
}

.box-menu-showTable {
    width: 100%;
    background-color: #fff;
    background: #fff;
    border-radius: 8px;
    color: #000;
}

.box-menu.box-menu-half {
    display: inline-block;
    margin-left: 2%;
    width: 30%;
}

ul li.userstate-a, ul li.userstate-b {
    font-size: 0.8em;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    margin-left: 2%;
    width: 40%;
    text-align: center;
}

ul li.userstate-a.selected {
    background-color: #FF7519;
    color: #fff;
}

ul li.userstate-b.selected {
    background-color: #FF7519;
    color: #fff;
}

ul li.userstate-a.selected a {
    color: #000;
}

ul li.userstate-b.selected a {
    color: #000;
}

ul li.userstate a:hover {
    /*background-color: blue;*/;
}

.menu-links ul li#play-ready {
    /*display: none;*/
    background-color: #00CC00;
    color: #000;
}

.menu-links ul li#play-ready a {
    color: #fff;
}


/*.play-ready{
background-color: green;

}*/

.not-ready {
    background-color: grey;
}


/*===== log in ====*/
.login-box-wrapper {
    background: url(images/login-Bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
}

.logo {
    width: 80%;
    margin-left: 10%;
}

.logo img {
    max-width: 100% !important;
    height: auto;
    display: block;
}


.log-in-form {
}

.log-in-form input[type=text], .log-in-form input[type=password] {
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    border: 1px solid #FF7519;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

form.log-in-form input:nth-child(2) {
    margin-bottom: 40px;
}

input {
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.logErrors {
    color: white;
    background-color: #FF7519;
    margin-left: 10%;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
}


/*======= form 'question menu' page ========*/

form.questionmenuForm input[type="submit"] {

    border: transparent;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 30px;
    outline: 0;
}

form.questionmenuForm h3 {
    color: black;
    background-color: #ff7519;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 5px 0;
    margin-bottom: 0;
    margin-left: 5%;
    width: 90%;
}

.readyButt {
    background-color: #00CC00;
    font-size: 1em;
    color: #fff;
}

.notreadyButt {
    background-color: #c6c0c5;
    color: white;
    font-size: 1em;
}

form.question input[type="submit"] {
    background-color: orange;
    border-radius: 8px;
    height: 30px;
}

form.question input[type="submit"].readyButt {
    background-color: #a4e4ab;
    border: 2px dotted orange;
    border-radius: 8px;
    height: 30px;
    font-size: 2em;
}

input[type="submit"].disabled {
    background-color: #ccc;
    border: 2px dotted orange;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 40px;
}


.ready {
    background-color: green;
}

.questionSection {
    border-bottom: 1px solid black;
}

/*=== progress page ====*/
/* ------ build the graphs  -----*/
div.sq0 {
    
    display: inline-block;
    margin: 1px;
    margin-bottom: 0;
    height: 10px;
    width: 20px;
    background: rgba(226, 165, 0, 0.5);
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}

div.sq1 {
    
    display: inline-block;
    margin: 1px;
    margin-bottom: 0;
    height: 20px;
    width: 20px;
    background: rgba(226, 165, 0, 0.5);
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}

div.sq2 {

    display: inline-block;
    margin-bottom: 0;
    margin: 1px;
    height: 30px;
    width: 20px;
    background: rgba(226, 165, 0, 0.6);
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}

div.sq3 {
    
    display: inline-block;
    margin: 1px;
    margin-bottom: 0;
    height: 40px;
    width: 20px;
    background: rgba(226, 165, 0, 0.7);
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}

div.sq4 {

    display: inline-block;
    margin: 1px;
    margin-bottom: 0;
    height: 50px;
    width: 20px;
    background: rgba(226, 165, 0, 0.8);
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}

div.sq5 {
    
    display: inline-block;
    margin: 1px;
    margin-bottom: 0;
    height: 60px;
    width: 20px;
    background: rgba(226, 165, 0, 1);
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}

.bar_results {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    font-size: 11px;
    overflow: hidden;
    overflow-x: scroll;
}

/* results table progress page */

table.table_results {
    background-color: #fff;
    width: 400px;
    overflow: scroll;
}

.results_table table {
    margin: 0 auto;
}

.results_table table td {
    padding: 5px;
    color: #000;
}

.results_table table tr {
    border-bottom: 1px solid black;
    padding: 5px;
}

.results_table {
    display: none;
    padding: 10px;
    background-color: #fff;
}

.results_table img{
  padding-top: 20px;  
}

/*==== paused action ==== */

.pauseSheet {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 27%;
    z-index: 200;
    background-color: #a7d7f1;
    padding: 5px;
    display: none;
}

.pauseSheet p {
    text-align: center;
}

.pauseSheet img {
    margin-top: 10px;
    margin-left: 35%;
    text-align: center;
}



/*======== helpers ========*/

.lighten {
    font-weight: normal;
    color: orange;
}

.center {
    text-align: center;
}



.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

p.wrong {
    color: red;
    font-weight: bold;
}

p.correct {
    color: #00CC00;
    font-weight: bold;
}

.white {
    color: #fff;
}

h3.question-menu-white{
    display: inline;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.3em;
    color: #fff;
    font-weight: normal;
    margin: 10px 5%;
}

.lower {
    margin-top: 40px;
}

.addPaddingTop {
    padding-top: 2px;
}

p.indent {
    margin-left: 2%;
}

p.right {
    color: green;
}

.expanded {
    letter-spacing: 2px;
    color: #000;
}

.bold {
    font-weight: bold;
}

.raise-margin{
    margin-top: -20px;
}

.lineHght{
     line-height: 30px;
}

/* ==== buttons === */

.btn-custom-submit {
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: #FF7519;
    color: #fff;
    border: none;
    border-radius: 8px;
}


.btn-custom-submit-green {
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: #00CC00;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.btn-login-submit {
    display: inline-block;
    width: 35%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: #FF7519;
    color: #fff;
    border: none;
    border-radius: 8px;
}


.btn-login-submit-green {
    display: inline-block;
    width: 35%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: #00CC00;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.btn-custom-submit a{
    color: #fff;
}

.btn-login-submit a{
    color: #fff;
}

.btn_orange {
    background-color: #FF7519;
    border: 2px dotted orange;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0;   
}

a .btn_orange  {
    color: #222;
    text-shadow: 0px 0.1px 0.2px #555;
    font-size: 1.3em;
}

a .btn_orange:hover  {
    color: #fff;
}


.btn_orange-alt {
    background-color: #FF7519;
    border: 2px dotted orange;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0; 
    color: #222;
    text-shadow: 0px 0.1px 0.2px #555;
    font-size: 1.3em;  
}

button#disableQuestions{
    display: inline;
    float: right;
    border: 2px dotted orange;
    border-radius: 8px;
    margin-right: 5%;
    margin-bottom: 20px;
    text-align: center;
    padding: 2px;
    color: #222;
    text-shadow: 0px 0.1px 0.2px #555;
    font-size:0.9em;  
    outline: none; 
    clear: both; 
}

.btn-enabled{
    background-color: #FF7519;
}

/*===== radio buttons =====*/

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    /*border-bottom-color: #b3b3b3;*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    background-color: #ccc;

}

input[type=radio] + label:first-of-type , input[type=checkbox]:first-of-type {
    moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type=radio] + label:nth-of-type(3) , input[type=checkbox]:nth-of-type(3){
    moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type=radio] + label:nth-of-type(2) , input[type=checkbox]:nth-of-type(2) {
    moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type=radio] + label:nth-of-type(4) , input[type=checkbox]:nth-of-type(4) {
    moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color: #53B653;
    color: #fff;
}

input.change-skin,  input.change-emailNotification {
    width: 100px;
    padding: 8px 5px;
    background: #FF7519;
    border: 0;
    font-size: 12px;
    margin-left: 20px;
    color: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

 input.change-audio {
    width: 100px;
    padding: 8px 5px;
    background: #FFAC75;
    border: 0;
    font-size: 12px;
    margin-left: 20px;
    color: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}



/*==== accordian =======*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
    outline: 0px;
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    height: auto;
    width: 100%;
    z-index: 1002;
    background-color: #000;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: -10px;
}

.ui-widget-content{
    background: #000;
    color: #fff;
}

.accordion {
    width: 100%;
}

.accordion  dt, dd {
    padding: 2px;
    /*border: 1px solid black;*/
    border-bottom: 0;
}

.accordion  dt, dd:last-of-type {
    border-bottom: 1px solid black;
}

.accordion a {
    display: block;
    color: black;
    font-weight: bold;
}

dd {
    border-top: 0;
    font-size: 12px;
    margin: 0;
}

dd:last-of-type {
    border-top: 1px solid white;
    position: relative;
    top: -1px;
}


/* ====  dialoge help box ===== */

#dialog {
    /*background-color: #fff;*/
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
}

dl.accordion {
}

dl.accordion dt {
    background-color: #a7d7f1;
    border: transparent;
    border-radius: 5px;
    border-bottom: 1px solid white;
}

dl.accordion dt a {
    color: #000;
    font-weight: lighter;
}

dl.accordion dd {
}

.ui-dialog {
    border: 4px solid #FF7519;
}

.ui-widget-header {
    background: #FF7519;
    color: white;
    font-weight: lighter;
}

.ui-widget-content {
    background-color: none;
}

form#live-search {
    background-color: #a7d7f1;
    border: none;
    outline: 0;
    padding: 4px;
}

fieldset {
}

input[type=text]#filter {
    padding: 5px;
    border: 1px solid #DDDDDD;
}

input#filter {
    background-color: white;
    width: 100%;
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    /*Applying CSS 3radius*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}

#instructions {
    background-color: #000;
    padding: 10px;
}

#instructions .accordion {
    width: 90%;
    margin-left: 5%;

}

#instructions dl.accordion dt {
    margin-bottom: 5px;
    padding: 5px;


}

#instructions .accordion dd {
     background-color: white;
     margin-bottom: 10px;
}

.references {
    background: #000;
    padding:20px 0 5px 30px;
}

.references ul a li {
    color: #fff;
    margin: 2px 0 8px 5px;
    
}

/*==== contact form =====*/

form.contact-form {
    padding: 20px;
}

.contact-form input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.contact-form textarea {
    max-width: 95%;
    height: 150px;
    line-height: 150%;
}

.contact-form input:hover, .contact-form textarea:hover, 
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.contact-form label {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #FF7519;

}

.contact-form .submit input {
    width: auto;
    padding: 9px 15px;
    background: #FF7519;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input.change-skin{
    width: 90px;
    padding: 8px 5px;
    background: #FF7519;
    border: 0;
    font-size: 12px;
    margin-left: 20px;
    color: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/*to display errors on contact page*/
div.emailflashdata{
    padding-left: 20px;
}

/* === footer === */

footer {
    background-color: #FF7519;
    padding: 4px 0 4px 5%;
}

footer p {
    font-size: 0.8em;
    margin: 0;
    padding: 0 0 0 10px;
    color: #fff;
}





/* ================= MEDIA QUERIES ============================ */

@media screen and (max-width: 480px) { 

body {
    font-size: 90%;
}

/*===  page headers ===*/
.menu-header {
    background-color: #fff;
    width: 100%;
    padding: 5px 0;
    height: 30px;
    margin-top: 50px;
}

.menu-header h1 {
    color: #FF7519;
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    padding-left: 5%;
    margin: 0;
}

/*=== navigation ==== */
nav {
    background-color: #000;

}

.nav-wrapper {
    margin-bottom: 0;
}

nav ul {
    margin-top: 10px;
    /*padding-top: 10px;*/
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0px 5px;
    float: right;
}

nav ul li:first-child {
    float: left;
    /*shift left for mobile screen view*/
    margin-left: -30px;
}

footer{
   /*testing*/
   background:#FF7519;

footer p  {
padding: 4px 0 4px 0;


}

.square {
    font-size: 0.8em;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color:  #ebf5fb;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    z-index: 100;
}

.squaredotted-p1, .squaredotted-p2, .squaredotted-p3 {
    font-size: 0.8em;
    width: 80%;
    height: 30px;
    line-height: 25px;

}

.movingDraggable {
    background-color:#ff7519;
}


.snippet-question p {
    font-size: 0.8em;
    font-weight: normal;
}


.snippet-question img {
    /*make smaller*/
    width: 40%;
}

#instructions {
    margin-top: -10px;
}
#instructions .accordion {
    margin-top: 0;
}

form.contact-form {

    margin-top: -20px;
}

.contact-form label {

    display: block;
}
.contact-form textarea{
    height: 80px;
}

h3.white {
    font-size: 1em;
    margin: 5px 5% 5px 5%;
    display: block;
}

.finalReviewInfo {
    top: 1%;
}

h3.question-menu-white {
    display: inline;
    font-size: 0.9em;
    margin: 5px 5% 5px 5%;
}

}
/* ======= END OF MEDIA QUERIES ========== */






